*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "OswaldRegular", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  font-size: 16px;
  color: #0f141e;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: orange;
}

ul {
  list-style: none;
}

.nav {
  margin-bottom: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__list-item {
  margin-right: 50px;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.info-text {
  margin-left: 40px;
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 30px;
}

.bg-purple {
  background: rgb(176, 108, 222);
}

.bg-yellow {
  background: rgb(247, 247, 186);
}

.bg-green {
  background: rgb(131, 243, 50);
}

.bg-red {
  background: rgb(242, 79, 9);
}

.bg-pink {
  background: rgb(213, 200, 237);
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 15px 10px 5px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.footer {
  padding-top: 41px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__svg {
  fill: gray;
  margin-right: 8px;
}

.footer__svg:hover {
  fill: black;
  transition: all 0.5s;
}

.footer__github {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__icon {
  display: flex;
}

.footer__link {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__list-item + .footer__list-item {
  margin-left: 28px;
}
